body {
    background-color: bisque;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .attendance-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .add-student {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align add and delete buttons in one line */
    margin-bottom: 20px;
  }
  
  .add-student input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .add-student button {
    background-color: #45a240;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .add-student button:hover {
    background-color: #008080;
  }
  
  .attendance-list {
    margin-top: 20px;
  }
  
  .attendance-list h3 {
    margin-bottom: 10px;
  }
  
  .attendance-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .attendance-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .student-id {
    font-weight: bold;
  }
  
  .attendance-checkbox {
    margin-right: 20px; /* Increase space between name and delete button */
  }
  
  .delete-button {
    background-color: #ff6961;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff4136;
  }
  